.breakingTitle {
  display: flex;
  align-items: center;
  margin: 16px 40px 10px 40px;
  font-family: "Inter", sans-serif;
  overflow: hidden;
  font-size: 14px;
  border: 1.8px solid black;
  background-color: white;
}

.highlight {
  background-color: black;
  color: white;
  padding: 0 px 15px;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 2;
  padding: 10px;
  white-space: nowrap;
}

.ticker {
  flex-grow: 1;
  overflow: hidden;
  display: flex;
}

.news {
  color: black;
  font-size: 14px;
  font-family: "Inter", sans-serif;
}

.newsWrapper {
  display: inline-flex;
  white-space: nowrap;
  padding-left: 20px;
  animation: scrollRight 15s linear infinite;
}

@keyframes scrollRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.arrow {
  margin: 0 10px;
}

@media (max-width: 768px) {
  .breakingTitle {
    display: flex !important;
    flex-direction: column !important;
    height: auto !important;
    margin: 5px 0 !important;
    border: 1.8px solid black !important;
  }

  .highlight {
    width: 100% !important;
    justify-content: center !important;
    padding: 10px !important;
    white-space: nowrap !important;
  }

  .ticker {
    width: 100% !important;
    padding: 5px 0 !important;
    overflow: hidden !important;
  }

  .newsWrapper {
    animation: scrollRight 20s linear infinite !important;
  }
}
