.navbar {
  background-color: black;
  color: white;
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: space-between;
  padding: 15px 10px 15px 20px;
  align-items: center;
  font-size: 14px;
}
button {
  background-color: black;
  color: white;
  font-family: "Inter", sans-serif;
  border: none;
  text-transform: capitalize;
  justify-content: space-between;
  font-size: 14px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column !important;
    height: auto !important;
    gap: 1px !important;
    padding: 5px !important;
    text-align: center !important;
  }

  .navbar a {
    width: 100% !important;
    padding: 8px 0 !important;
    border-bottom: 1px solid #333;
  }
}
